<div class="span12">
	<h2>Buscar iglesia</h2>
	<form ng-submit='churchSearch()'>
		<table class="table table-hover">
			<tr>
				<td>Zona</td>
				<td>Circuito</td>
				<td>Nombre Iglesia</td>
				<td></td>
			</tr>
			<tr>
				<td>
					<select ng-model="zone" id="zone" ng-change='getCircuitByZone()'>
						<option ng-repeat='z in zones' value="{{z.id}}">{{ z.name }}</option>
					</select>
				</td>
				<td>
					<select ng-model="circuit" id="circuit">
						<option ng-repeat='c in circuits' value="{{c.id}}">{{ c.name }} {{ c.nick }}</option>
					</select>
				</td>
				<td><input type="text" ng-model='name' placeholder='Nombre Iglesia'></td>
				<td><input type="submit" class='btn btn-primary' value="Buscar"></td>
			</tr>
		</table>
	</form>
	<h4>{{ churches.length }} resultados encontrados.</h4>
	<table class="table table-hover">
		<tr>
			<th>Nombre</th>
			<th>Zona</th>
			<th>Circuito</th>
			<th>Pastor</th>
			<th>Ciudad</th>
			<th>Categoría</th>
			<th>Dirección</th>
			<th>Editar</th>
			<th>Actualizado</th>
		</tr>
		<tr ng-repeat='c in churches'>
			<td>{{c.name}}</td>
			<td>{{c.zone}}</td>
			<td>{{c.nameCircuit}}</td>
			<td><a href="#/person-profile/{{c.document}}">{{c.names}} {{c.lastnames}} </a></td>
			<td>{{c.nameCity}}</td>
			<td>{{c.category}}</td>
			<td>{{c.address}}</td>
			<td><a href="#/church-update/{{c.id}}"><i class='icon-edit'></i></a></td>
			<td>
				<i class='icon-ok' ng-show="c.repeat"></i>
				<i class='icon-ban-circle' ng-show="!c.repeat"></i>
			</td>
		</tr>
	</table>
</div>
<div ng-include="'partials/modal-window.html'"></div>