<div class="span2 offset5">
	<h2>Login</h2>
	<form class="form-signin" name='loginForm' ng-submit='login()'>
        <input type="text" ng-model='user' required class="input-block-level" placeholder="Usuario" autofocus>
        <input type="password" ng-model='pass' required class="input-block-level" placeholder="Password">
        <button class="btn btn-primary" type="submit" ng-disabled='loginForm.$invalid'>Iniciar</button>
    </form>
</div>
<div ng-include="'partials/modal-window.html'"></div>