<div class="span4 offset4">
	<h2>Nuevo usuario</h2>
	<form ng-submit='save()'>
		<table class="table table-hover">
			<tr>
				<td>Nombre usuario</td>
				<td><input type="text" ng-model='user' ng-blur='setPass()' placeholder='Nombre de usuario' required></td>
			</tr>
			<tr>
				<td>Password</td>
				<td><input type="text" ng-model='pass' disabled placeholder='Password'></td>
			</tr>
			<!--<tr>
				<td>Repetir password</td>
				<td><input type="password" ng-model='pass2' placeholder='Repite el password'></td>
			</tr>-->
			<tr>
				<td>Email</td>
				<td><input type="email" ng-model='email' placeholder='Email' required></td>
			</tr>
			<tr>
				<td>Tipo</td>
				<td>
					<select ng-model="type" id="" required>
						<option value="" selected disabled>Selecciona:</option>
						<option value="user">USUARIO</option>
						<option value="admin">ADMINISTRADOR</option>
					</select>
				</td>
			</tr>
			<tr>
				<td></td>
				<td><input type="submit" class='btn btn-primary' value="Guardar"></td>
			</tr>
		</table>
	</form>
</div>
<div ng-include="'partials/modal-window.html'"></div>